{:paths ["src/main/clj"]

 :deps {org.clojure/java.jdbc               {:mvn/version "0.7.9"},
        org.postgresql/postgresql           {:mvn/version "42.2.5"},}


 :aliases {:repl    {:main-opts ["-e" "((requiring-resolve 'main))"]}}}